html {
	background-color : #dde1e7;
	background-size: cover;
	background-filter: blur(5px);
	margin: 0;
	justify-content: center;
	
}


body{
	margin: 0;
}


/*Titre*/

h1 {
	text-align: center;
    color:black;
	font-size: 60px ;
	margin-top: 0px;
	font-family: "Segoe UI", Roboto;
		
}


/*Barre de navigation*/

.nav ul {
  list-style: none;
 
   text-align: center;
  
   background-size: 1px;

  background-color: #dde1e7;
   
  padding : 25px;
  border-radius: .50rem;
 
  height: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,.15);

}

.nav li {
  font-family: "Segoe UI", Roboto;
  font-size: 1em;
 
  
  
  display: inline;
  margin-right: 7%;
  margin-left: 7%;
  
   
}
 
.nav a {
  text-decoration: none;
  color:black;
  transition: .3s background-color;
}
 
.nav a:hover {
  color:#8D27F2;
}
 
.nav a.active {
  
  color: #8D27F2;
  cursor: default;
}



/*Page d'accueil*/

.intro {
    
font-size: 1.3em;
font-family: "Segoe UI", Roboto;
color : black;
text-align: center;

background-size: 5px;
padding : 18px;
border-radius: 55px;
background: #dde1e7;
box-shadow:  5px 5px 10px #cbcfd5,-5px -5px 10px #eff3f9;
width: 30%;
height: 400px;

}



#index {

	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}



#photo {

	height: 300px;
	width: auto;
	border-radius: 300px;
	margin-right: 10%;
	margin-top: 3%;
	border: 5px  solid black;
}



/*CV*/

#cv {

	position: absolute;
	
}

#bouton {

	margin-left: 57%;
	padding-top: 20px;
	padding-bottom: 50px;
}

#img {


box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
margin-left: 20%;
margin-top: 8%;

}


/*Barre de compétences page CV*/

.skills {

	align-items: : center;
	margin-left: 50%;
	margin-top: 8%;
	display: flex;
	border: 2px solid #9da2ad;
    margin-right: 20%;
	border-radius: 20px;
	padding: 2em;
	position: relative;
	left : 8%;
}

.skills::before {

	content: "Mes compétences";
	position: absolute;
	top : -18px;
	left: 33%;
	font-family: "Segoe UI", Roboto;
	background-color: #dde1e7;
	padding: 5px 10px;
}
.skills .name {

	display: flex;
	flex-direction: column;
	font-family: "Segoe UI", Roboto;
	font-size: 1em;
	font-weight: 500;
	width: 50%;
    margin-right: 30px;

}

.skills .name span {

	
	margin : 10px 0;
    box-shadow: 5px 5px 8px #cbcfd5, -5px -5px 4px #eff3f9;
    padding : 10px 20px;
    text-align: center;
    border-radius: 50px;
}

.skills .name span:hover {

	cursor: pointer;
    box-shadow: inset 5px 5px 8px #cbcfd5, inset -5px -5px 4px #eff3f9;
    color : #8D27F2;
}


.bar-container {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.bar {

	width: 200px;
	height: 20px;
    box-shadow :inset 5px 5px 8px #cbcfd5, inset -5px -5px 4px #eff3f9;
    border-radius: 20px;

}

.bar .progress {

   height: 100%;
   background: linear-gradient(to right, #8D27F2, #B172EE);
   border-radius: 20px;
}

.bar:nth-child(1) .progress {

	width: 60%;
}

.bar:nth-child(2) .progress {

	width: 80%;
}

.bar:nth-child(3) .progress {

	width: 70%;
}

.bar:nth-child(4) .progress {

	width: 50%;
}

.bar:nth-child(5) .progress {

	width: 90%;
}



/*Page PPP*/

.ppp {


border-radius: 55px;
background: #dde1e7;
box-shadow:  5px 5px 10px #cbcfd5,-5px -5px 10px #eff3f9;
width: 29%;
height: 450px;
margin-top: 3%;
font-size: 1.4em;
font-family: "Segoe UI", Roboto;
text-align: center;


}

.ppp2 {

	display: flex;
	justify-content: space-around;


}


.marge {

	margin-top: 5%;
}


.texteppp {

	font-size: 0.8em;
	margin-right: 4%;
	margin-left: 4%;


}

.icon {
    height: 70px;
    display: flex;
	width: auto;
    justify-content: space-around;
}



/*Me contacter*/

#contact { 
	text-align: center; 
	font-size: 1.4em;
	 font-family: "Segoe UI", Roboto; 
	 margin-top: 5%;
	 margin-bottom: 5%;
	 
	  }


/*Logos de la page me contacter*/

.logo1{
margin-left: auto;
margin-right: auto;
display: flex;
	  justify-content: center;
	   align-items:center;
	    border-radius: 175px;
	background: #dde1e7;
	box-shadow:  5px 5px 8px #cbcfd5, -5px -5px 4px #eff3f9;
	  height : 90px;
	   width: 90px;
	   font-size: 3em;

}

.logos > p {
	width:100%;
	text-align: center;
	margin-top: 20px;
}


.logo1:hover { 
 box-shadow:  inset 5px 5px 8px #cbcfd5, inset -5px -5px 4px #eff3f9; 
 } 


.logo2 {
margin-left: auto;
margin-right: auto;
display: flex;
	  justify-content: center;
	   align-items:center;
	    border-radius: 175px;
	background: #dde1e7;
	box-shadow:  5px 5px 8px #cbcfd5, -5px -5px 4px #eff3f9;
	 height : 90px;
	   width: 90px;
	   font-size: 2.7em;

}
.logo2:hover { 
 box-shadow:  inset 5px 5px 8px #cbcfd5, inset -5px -5px 4px #eff3f9; 
 } 

.logo3 {
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
align-items:center;
border-radius: 175px;
background: #dde1e7;
box-shadow:  5px 5px 8px #cbcfd5, -5px -5px 4px #eff3f9;
height : 90px;
width: 90px;
font-size: 2.8em;

}

.logo3:hover { 
 
box-shadow:  inset 5px 5px 8px #cbcfd5, inset -5px -5px 4px #eff3f9; 
 
 } 

#logofinal {


    margin-bottom: 12%;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}


.logos {
	width:170px;
	list-style: none;

}


.logos:hover {

color :#8D27F2 ;
cursor: pointer; 

}


/*Pied de page*/

footer {
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-family: "Segoe UI", Roboto;
  	bottom: 0;
  	position: fixed;
}

